/*---------------- global general settings ---------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

html, 
body {
	font-size: 62.5%;
	height: 100%
}

.heavy {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.clearfix {
	clear: both;
}

.page_container {  /* page settings for footer to stay at bottom */
	position: relative;	
	min-height: 100%;
	height: auto !important;
	height: 100%; /* IE6 cannot recognize min-height */
}

.main_content_container {
	/*width: 1259px;*/	
	margin: 0 auto;
	/* padding-bottom keeps space between main content and footer which has height 170px */
	padding: 150px 0 200px; 
}

.content_box {
	/*margin: 0 auto;*/
}



